<div class="ui small basic test modal">
  <div class="ui icon header">
    <i class="frown icon"></i>
    Posts not found
  </div>
  <div class="ui content">
      Unfortunately we didn't find any posts for this user.
      You can stay here or back home.
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Close
    </div>
    <a href="/" class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Go home
    </a>
  </div>
</div>
