<div class="ui small basic test modal">
  <div class="ui icon header">
    <i class="{{ error.icon }} icon"></i>
    {{ error.caption }}
  </div>
  <div class="ui content">
      {# Unfortunately we didn't find any posts for this user.#}
      {{ error.message }}
      You can stay here or back home.
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Close
    </div>
    <a href="/" class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Go home
    </a>
  </div>
</div>
