{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="ui center aligned basic segment">
  <form class="ui left icon action input" action="" method="POST">
    {# <form class="ui column form" action="" method="POST">#}
    {% csrf_token %}
    <i class="search icon"></i>
      <input type="number" name="user_id"  placeholder="User ID">
      <button class="ui button make-loading blue" type="submit">Get posts</button>
  </form>
  <div class="ui horizontal divider">
    Or
  </div>
  <a href="{% url "logout_redirect" %}" class="ui labeled icon button make-loading blue"><i class="address card icon"></i> Get my posts</a>
</div>

{% endblock %}
