{% extends "base.html" %}
{# {% load static %}#}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="ui two column centered grid">
  <form class="ui column form" action="" method="POST">
    {% csrf_token %}
  <div class="field">
    <label>User ID at Stack Overflow</label>
    <input type="number" name="user_id" placeholder="User ID">
  </div>

  <button class="ui button" type="submit">Get posts</button>
  <a href="{% url "social:begin" "stackoverflow" %}" class="ui button">Get my posts</a>
</form>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
