{% extends "base.html" %}
{% load datetime_converter %}

{% block content %}
<div class="ui breadcrumb">
  <a href="/" class="section">Home</a>
  <i class="right arrow icon divider"></i>
  <div class="active section">Posts</div>
</div>
<div class="ui top attached info teal segment">
  <a href="{{ posts.0.owner.link }}" target="_blank" class="ui blue ribbon label large">
    <i class="stack overflow icon"></i>
    {{ posts.0.owner.display_name }}<div class="detail">{{ posts.0.owner.reputation }} reputation</div>
  </a>
</div>
<table class="ui attached table">
  <thead>
    <tr><th>Post type</th>
    <th>Score</th>
    <th>Creation date</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.post_type }}</td>
      <td>{{ post.score }}</td>
      <td>{{ post.creation_date|fromtimestamp }}</td>
      <td><a href="{{ post.link }}" target="_blank">{{ post.link }}</a></td>
    </tr>
    {% endfor %}

  </tbody>
  <tfoot>
    <tr><th colspan="4">
      <div class="ui right floated pagination menu">

        {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}" class="icon item">
            <i class="left chevron icon"></i>
          </a>
        {% else %}
        <a class="icon item disabled">
          <i class="left chevron icon"></i>
        </a>
        {% endif %}
        {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
          <a class="item active"> {{ num }} </a>
          {% else %}
          <a href="?page={{ num }}" class="item"> {{ num }} </a>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="icon item">
          <i class="right chevron icon"></i>
        </a>
        {% else %}
        <a class="icon item disabled">
          <i class="right chevron icon"></i>
        </a>
        {% endif %}

      </div>
    </th>
  </tr></tfoot>
</table>


{% endblock %}
